{
	debug
}
{$DOMAIN} {
    
	map {$OCI_PAR} {oci_path} {oci_bucket} { 	
	   PUBLIC  {uri}        				
       default /p/{$OCI_PAR}/{uri} {$OCI_BUCKET}
	}
	rewrite /n/{$OCI_SPACE}/* {oci_path}
	reverse_proxy /n/{$OCI_SPACE}/*  https://{$OCI_BUCKET}  

	reverse_proxy http://ghost:2368
	encode gzip zstd
}
